<div class= "individualMovie" *ngFor="let movie of movies">
    <div class="poster">
        Poster
    </div>
    <div class="summaryDetails">
        <div class="summaryTitle">
            Movie: {{movie.title}}
        </div>
        <div class="summaryParental">
            Rating: {{movie.parentalRating}}
        </div>
        <div class="summaryGenres">
            Genres:
            <ul>
                <li *ngFor="let genre of movie.genres">{{genre}}</li>
            </ul>
        </div>
        <div class="summaryActors">
            Actors:
            <ul>
                <li *ngFor="let actor of movie.actors">{{actor}}</li>
            </ul>
        </div>
        <div class="summaryDirectors">
            Directors:
            <ul>
                <li *ngFor="let director of movie.directors">{{director}}</li>
            </ul>
        </div>
        <div class="summaryProducers">
            Producers:
            <ul>
                <li *ngFor="let producer of movie.producers">{{producer}}</li>
            </ul>
        </div>
    </div> <!-- end of summaryDetails class div -->
</div> <!-- end of individualMovie class div-->


